{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html 
    lang="{{ grav.language.getLanguage ?: 'en' }}" 
    dir="{{ grav.language.getLanguage == 'ar' ? 'rtl' : 'ltr' }}">

<head>
    {% include 'partials/head_ludo.html.twig' %}
</head>

<body class="searchbox-hidden {{ page.template }} {{ page.header.body_classes }} {{ grav.language.getLanguage == 'ar' ? 'rtl' : 'ltr' }}" data-url="{{ page.route }}">

    {% block header %}

        <header id="header" class="header">
            
            <div class="header-inner">

                <div class="header-banner">
                    <div class="header-banner-inner">
                        <div class="banner-title">
                            <span class="title-unesco">UNESCO</span> {{ 'THEME_LEARN2_BANNER_TITLE'|t }}
                        </div>
                    </div>
                </div>

                {% include 'partials/headermenu.html.twig' %}
            </div>


        </header>

    {% endblock %}


    {% block body %}
        <section id="torso">

            <!-- begin main -->
            {% block main %}
            <main id="main" class="main-{{ page.template }}">
                <div class="main-inner main-{{ page.template }}-inner">  
                {% block maininner %}

                    <!-- begin content -->
                    {% block content %}
                        <section class="content">
                            <div class="content-inner">
                                {% block contentinner %}{% endblock %}
                            </div>
                        </section>
                    {% endblock %}
                    <!-- end content -->

                     {% block backtoptop %}
                            <div class="backtotop">
                                <a href="#header" class="button" title="Go back to the start of the page">Back to Top</a>
                            </div>
                     {% endblock %}


                {% endblock %}
                </div>
            </main>
            {% endblock %}
            <!-- end main -->

            <!-- begin aside -->
            <aside id="side-menu">
                <div class="aside-inner">
                <div class="planner-buttons">
                    <button id="side-menu-btn_close" class="viewswitch button" data-mode="guideonly" type="button">Close</button>
                </div>
                <!-- begin nav -->
                {% block nav %}
                <nav class="side-menu" id="page-menu">
                    {# <ul class="back-to-main"><li><a href="#main-menu">Back To Menu</a></li></ul> #}
                    {% block sidebar %}
                        {% include 'partials/phase_menu.html.twig' %}
                    {% endblock %}
                </nav>
                {% endblock %}
                <!-- end nav -->
                </div>
            </aside>
            <!-- end aside -->


            <!-- begin aside -->
            <aside id="planner">
                {% block aside %}
                    <div class="aside-inner">
                        <div class="planner-buttons">
                            <button id="navbar-btn_view_guide" class="viewswitch button" data-mode="guideonly" type="button">Close</button>
                            <button id="navbar-btn_view_planner" class="viewswitch button" data-mode="planneronly" type="button">Expand View</button>
                            <button id="navbar-btn_import_project" class="import button" type="button">Import Project</button><br/>
                        </div>
                        <div id="import-project-yaml" class="import-project-yaml" style="display:none;">
                            <form id="yaml-upload" class="yaml-upload-form" name="yaml-upload" action="#">
                                <fieldset>
                                    <label>Upload an existing project file using the file selector below and click Upload</label>
                                    <input type="file" name="fileselect" id="yaml-fileselect"></input>
                                    <input id="yaml-uploadbutton" type="button" class="button" value="Upload"/>
                                </fieldset>
                            </form>
                            <div id="yaml-upload-result"></div>
                        </div>
                        <div class="planner-form">
                            {% include "forms/form.html.twig" with { form: forms('plan-form') } %}
                        </div>
                         <div class="planner-buttons">
                            <button id="navbar-btn_view_guide" class="viewswitch button" data-mode="guideonly" type="button">Close</button>
                            <button id="navbar-btn_view_planner" class="viewswitch button" data-mode="planneronly" type="button">Expand View</button><br/>
                        </div>
                    </div>
                {% endblock %}
            </aside>
            <!-- end aside -->

        </section>
    {% endblock %}

    {% block footer %}
        <footer></footer>
    {% endblock %}

   

    {% block analytics %}
        {% if theme_config.google_analytics_code %}
        {% include 'partials/analytics.html.twig' %}
        {% endif %}
    {% endblock %}

 </body>
</html>
