<div id="body-inner">
	{% if page.header.displaytitle is not null %}
    <h1>{{ page.header.displaytitle }}</h1>
    {% else %}
	<h1>{{ page.title }}</h1>
	{% endif %}
    <p>{{ page.content }}</p>
</div>
