{# next/previous phase links #}
{% set next = page.adjacentSibling(-1) %}
{% set prev = page.adjacentSibling(+1) %}
<div class="phase-nextprev-links">

	{% if page.isLast() == false %}
	<span class="nextlink">
		<a href="{{next.url}}">
			{{next.menu}}<span class="fa-stack fa-lg">
			  <i class="fa fa-circle fa-stack-2x"></i>
			  <i class="fa fa-arrow-right fa-stack-1x fa-inverse"></i>
			</span></a>
	</span>
	{% endif %}

	<span class="prevlink">
		{% if page.isFirst() %}
			<a href="{{base_url}}">
			<span class="fa-stack fa-lg">
			  <i class="fa fa-circle fa-stack-2x"></i>
			  <i class="fa fa-arrow-left fa-stack-1x fa-inverse"></i>
			</span>
			{{ 'THEME_LEARN2_HOME'|t }}</a>
		{% else %}
			<a href="{{prev.url}}">
			<span class="fa-stack fa-lg">
			  <i class="fa fa-circle fa-stack-2x"></i>
			  <i class="fa fa-arrow-left fa-stack-1x fa-inverse"></i>
			</span>{{prev.menu}}</a>
		{% endif %}
	</span>
	
	
</div>