<nav id="phase-nav" class="phase-menubar">
	<div class="phase-menubar-inner">
		<span class="phase-menubar-one">
		<button id="navbar-btn_view_sidemenu" class="button viewswitch side-menu-switch" data-mode="side-menu" type="button">Menu</button></span>
		<span class="phase-menubar-two"><span class="phasemenu-title">{{page.header.subtitle}}</span></span>
		<span class="phase-menubar-three"> <button id="navbar-btn_view_guideplanner" class="button viewswitch planner-switch" data-mode="guideplanner" type="button">Planner</button></span>
	</div>
</nav>
