{% set guide = guide is defined ? guide : page.find('/guide') %}

<div class="phases-list-wrapper">
<ul class="phase-list">
	{% for p in guide.children.visible %}
		<li class="phase">
			<a href="{{ p.url }}" title="Open {{ p.title }}" class="phase-inner">
				<span class="phase-image">
					{% if p.header.image %}
						{{ page.find('/images').media[p.header.image].html() }} 
					{% else %}
						{{ page.find('/images').media['phase-placeholder.png'].html() }} 
					{% endif %}
				</span>
				<span class="phase-number">{{p.header.subtitle}}</span>
				<span class="phase-title"><h3>{{p.title}}</h3></span>
			</a>
		</li>
	{% endfor %}
</ul>
</div>