<div class="phase-menu">
	{% set guide = page.find(theme_config.root_page) %}
	<ul>
	{% for p in guide.children.visible %}
		{% set parent_page = p.activeChild ? ' parent' : '' %}
        {% set current_page = p.active ? ' active' : '' %}
        <li class="dd-item{{ parent_page }}{{ current_page }}" data-nav-id="{{ p.route }}">

        	<a href="{{ p.url }}" title="{{p.title}}" {% if p.header.class %}class="{{ p.header.class }}"{% endif %}>
                {# <i class="fa fa-check read-icon"></i> #}
                <span><span class="number-circle"><span class="number">{% if data_level == 0 %}{{ loop.index }}{% endif %}</span></span>{{ p.menu }}</span>
            </a>

            {% if p.active == 'active' %}

            	<ul class="phase-menu-children">
	            	{% for q in p.collection() %}
	            		{% set parent_page = q.activeChild ? ' parent' : '' %}
	        			{% set current_page = q.active ? ' active' : '' %}
	            		<li class="dd-item{{ parent_page }}{{ current_page }}" data-nav-id="{{ q.route }}">
	            			<a href="{{ p.url }}#{{ q.slug }}" title="{{q.title}}" {% if q.header.class %}class="{{ q.header.class }}"{% endif %}>
				                <span><span class="marker-circle"></span>{{ q.menu }}</span>
				            </a>
				            <span class="marker-line"><span></span></span>
	            		</li>
	            	{% endfor %}
            	</ul>


            {% endif %}

            

        </li>
	{% endfor %}
	</ul>
</div>
<hr>
<div>
{% include 'partials/langswitcher.html.twig' %}
</div>