{% extends 'docs.html.twig' %}

{% block content %}
	<div id="chapter">
    	<div id="body-inner">
			{{ page.content }}
		</div>
    </div>
{% endblock %}

{% block footer %}
   {#  {% include 'partials/planform.html.twig' %} #}
{% endblock %}
