{% embed 'partials/base.html.twig' with { github_link_position: false } %}

	{% block topbar %}
        {% include 'partials/topbar.html.twig' %}
    {% endblock %}

    {% block content %}
        {% include 'partials/page.html.twig' %}
    {% endblock %}



    {% block footer %}{% endblock %}

{% endembed %}
