{% embed 'partials/base.html.twig' with { github_link_position: true } %}

	{% block topbar %}{% endblock %}
		
    {% block content %}
        {% include 'partials/page.html.twig' %}
    {% endblock %}

    {% block footer %}{% endblock %}

{% endembed %}
