{% extends 'partials/base_ludo.html.twig' %}

{% block main %}
	<main id="guide">
		<div class="padding">
			<button id="navbar-btn_view_guideplanner" class="viewswitch" data-mode="guideplanner" type="button">View My Project Plan</button><br/>
			<article class="phase">
				<header>
					<img src="https://dummyimage.com/600x400/000/fff">
					{{ page.content }}
				</header>

				 {% for module in page.collection() %}
				 	{{ module.content }}
	        	 {% endfor %}
			</article>
			<button id="navbar-btn_view_guideplanner" class="viewswitch" data-mode="guideplanner" type="button">View My Project Plan</button><br/>
		</div>
	</main>
{% endblock %}


{% block aside %}
	<aside id="planner">
		<div class="padding">
			<button id="navbar-btn_view_guide" class="viewswitch" data-mode="guideonly" type="button">Close</button>
	        <button id="navbar-btn_view_planner" class="viewswitch" data-mode="planneronly" type="button">Expand View</button><br/>

			<strong>My Project Plan</strong>
			{% include "forms/form.html.twig" with { form: forms('plan-form') } %}
		</div>
	</aside>
{% endblock %}

{% block footer %}
	<footer>
	</footer
{% endblock %}