{% extends 'docs.html.twig' %}

{% block content %}
	<div id="chapter">
    	<div id="body-inner">
    		<div class="page-content">
				{{ page.content }}
    		</div>
    		{% for phase_section in page.collection %}
				{% include "partials/phase_section.html.twig" with { section: phase_section } %}
			{% endfor %}
		</div>
    </div>
{% endblock %}

{% block footer %}
   {% include 'partials/planform.html.twig' %}
{% endblock %}
