{% embed 'partials/base.html.twig' with { github_link_position: true } %}

	{% block topbar %}
        {% include 'partials/topbar.html.twig' %}
    {% endblock %}

    {% block content %}
    	
        {{ page.content }}

        <style>
            h3 {
                margin: 0;
            }
            ul {
                margin: 0;
            }
            small {
                display:block;
                margin-top: -30px;
                margin-bottom: 1.9rem;
            }
            h4 {
                margin-top: 2.75rem;
                font-size: 1.5rem;
                margin-bottom: 0.85rem;
            }
            h4:first-child {
                margin-top: 0;
            }
            .CodeMirror, .CodeMirror-scroll {
                min-height: 150px;
            }
        </style>


        {% include "forms/form.html.twig" %}

        <script>
        
        	// jQuery('textarea').each(function(index,elem){
        	// 	new SimpleMDE({ 
        	// 		element: elem,
        	// 		toolbar: ["heading", "|", "bold", "italic", "|", "unordered-list"]
        	// 	 });
        	// });

       	</script>

    {% endblock %}



    {% block footer %}{% endblock %}

{% endembed %}
