{% extends 'partials/base_ludo.html.twig' %}

{% block sidebar %}{% endblock %}


{% block contentinner %}
	<article>
		<h1>{{page.title}}</h1>
		<div class="article-body">
			{{ page.content }}
		</div>
	</article>
{% endblock %}
