{% extends 'partials/base_ludo.html.twig' %}

{% block header %}{% endblock %}
{% block nav %}{% endblock %}

{% block content %}
	<div class="error">
		<div class="error-inner">
			<h1>{{ 'PLUGIN_ERROR.ERROR'|t }} {{ header.http_response_code }}</h1>
            {{ page.content }}
		</div>
	</div>
{% endblock %}
