{% extends 'partials/base_ludo.html.twig' %}


{% block contentinner %}
	<div class="guide">
		<div class="guide-inner">

			<div class="guide-title"><h1>{{page.title}}</h1></div>

			<div class="guide-phases">
				{% embed 'partials/phases-list.html.twig' with { guide: page } %}{% endembed %}
			</div>
		</div>
	</div>
{% endblock %}
