{% extends 'partials/base_ludo.html.twig' %}

{% block header %}

        <header id="header" class="header">          
            <div class="header-inner">

                <div class="header-banner-container">

                    {% set headerimg = page.find('/images').media[page.header.headerimage].url %} 

                    <div class="header-banner background-image" style="background-image:url('{{ headerimg }}');">
                        <div class="header-banner-inner">
                            <div class="banner-title">
                                <span class="title-unesco">UNESCO</span> {{ page.title }}
                            </div>
                            {# <div class="banner-sub">Anyone can design and implement a project</div> #}
                        </div>
                    </div>

                </div>

                {% include 'partials/headermenu.html.twig' %}
            </div>
        </header>

{% endblock %}

{% block nav %}{% endblock %}

{% block content %}
    <section class="home-intro">{{ page.content }}</section>

    {% for module in page.collection() %}
        {{ module.content }}
    {% endfor %}
{% endblock %}
