{% extends 'partials/base_ludo.html.twig' %}

{% block content %}
	<section class="phase-intro">

	  	{% include 'partials/phase-nextprev-links.html.twig' %}

		<div class="jumbo-image">
			{% if page.header.image %}
				{{ page.find('/images').media[page.header.jumbo].html() }} 
			{% else %}
				{{ page.find('/images').media['phase-placeholder.png'].html() }} 
			{% endif %}
		</div>

		{% include 'partials/phase-menubar.html.twig' %}

		<div class="phase-banner">
			<h1>{{page.title}}</h1>
			<h2 class="sub-title">{{ page.content|striptags }}</h2>
		</div>
	</section>

	<section class="phase-main">

		<article class="phase-body">
			{% for module in page.collection() %}
	 		{{ module.content }}
	 		{% endfor %}
		</article>

	</section>

	<section class="phase-more"></section>

	<section class="phase-footer">{% include 'partials/phase-nextprev-links.html.twig' %}</section>
{% endblock %}

{# {% block content %}
	<div class="phase">
		<div class="phase-inner">
			<div class="article-header">
				<div class="article-image"><img src="https://dummyimage.com/785x220/B8DAF4/fff"></div>
				<div class="article-banner">
					<div class="phase-title">{{page.header.subtitle}}</div>
					<h1>{{page.title}}</h1>
					<div class="sub-title">{{ page.content }}</div>
				</div>
			</div>

			
				{% include 'partials/phase-nextprev-links.html.twig' %}
				{% include 'partials/phase-menubar.html.twig' %}

			<div class="article-body">
				{% for module in page.collection() %}
			 	{{ module.content }}
	    	 	{% endfor %}
			</div>
		</div>
	</article>

	<div class="article-footer">
		{% include 'partials/phase-nextprev-links.html.twig' %}
	</div>


{% endblock %} #}
