{% set section = page %}
<section class="question">
	<h2 id="{{ section.slug }}">{{ section.title }}</h2>
	<img src="https://dummyimage.com/300x200/000/fff">
	<div class="col-left">
		{{ section.content }}
	</div>
	<div class="col-right">
		{# {% for inlinefield in section.header.inlinefields %}
			{% if inlinefield.id is defined %}
				<div class="inline-field">
					<data class="js-inlinefield" value="{{ inlinefield.id|e }}"></data>
				</div>
			{% endif %}
		{% endfor %} #}
	{% if section.header.hasinlinefield != 'false' %}
		<div class="inline-field">
			<data class="js-inlinefield" value="form{{section.slug|e}}"></data>
		</div>
	{% endif  %}
	</div>
</section>
