{%- macro render_field(form, fields) %}
{%- for index, field in fields %}
    {%- set input = attribute(field, "input@") %}
    {%- if input is null or input == true %}
        {%- set value = form.value(field.name ?? index) %}
        {%- if value is null %}
            {{- field.name ?? index }}: {{ "\r\n" }}
        {%- else %}
            {{- field.name ?? index }}: {{ "\"\n" ~ string((value is iterable ? value|json_encode : value)) ~ "\"\r\n" }}
        {%- endif %}
    {%- else %}
        {%- if field.fields %}
        {{- _self.render_field(form, field.fields) }}
        {%- endif %}
    {%- endif %}
{%- endfor %}
{%- endmacro %}
{%- autoescape false %}
{{- _self.render_field(form, form.fields) ~ "\r\n" }}
{%- endautoescape %}