fieldset {
	border: 1px solid $core-border-color;
}

textarea, #{$all-text-inputs}, select[multiple=multiple] {
	background-color: white;
	border: 1px solid $core-border-color;
	box-shadow: $core-box-shadow;

	&:hover {
		border-color: $core-border-color-hover;
	}

	&:focus {
		border-color: $core-border-color-focus;
		box-shadow: $core-box-shadow-focus;
	}
}

label {
	@extend strong;
}


// Project Plan form
$aside-bg: $white;
aside {
	.planner-buttons {
		font-size: 90%;
		margin-bottom: 2em;
	}
}
.planner-form form {

	background-color: $aside-bg;

	.form-spacer {
		p {
			margin: 0;
			font-size: 1.2rem;
		}
	}

	.form-field, .form-spacer {
		margin-bottom: 2em;
	}

	label {
		font-weight: bold;
	}

	.CodeMirror {
		border: none;
		.editor-preview {
			background-color: $aside-bg;
			border: none;
			padding: 0;
		}
	}
	.CodeMirror-empty {
		height: 0;
		min-height: 0;
	}

}
// Import Yaml form
form.yaml-upload-form {
	input[type=file] {
		padding: 1em;
		margin-bottom: 1em;
	}
	.button {
		font-size: 90%;
	}
}