// Generic styles. For elements that are used in multiple places.
// Advanced elements with lots of styles should be given their own file.

//= Phases List
ul.phase-list {
	display: flex;
	align-items: top;
	flex-wrap: wrap;

	padding:0;
	margin:0;
	list-style: none;

	li {
		 -webkit-flex: initial;
          flex: initial;
		  width: 50%;
		  min-width: 300px;

		  @include breakpoint(no-mobile) { 
			  &:nth-child(odd){
				padding-right: 20px;
			  }
		      &:nth-child(even){
				padding-left: 20px;
			  }
		  }
		  
		  padding-bottom: 40px;
	}

	.phase-inner {
		display: block;
		height: 100%;
		width: 100%;
		.phase-number, .phase-title h3 {
		  	display: block;
		  	color: $core-text;
			font-size: 1.2rem;
			margin-top: 0;
			margin-bottom: 0;
		}
		.phase-number {
			font-weight: 800;
			letter-spacing: 0.5px;
		}
		.phase-title h3 {
			font-weight: 300;
			letter-spacing: -0.5px;
		}

	}
	a.phase-inner {
		&:hover, &:focus {
			background: linear-gradient(to top, #1991eb, #2da1f8);
			.phase-number,
			.phase-title h3 {
				color: $white;
			}
		}
	}
}

.backtotop {
	text-align: center;
	margin-top: $text-padding;
}

//= Jumbo Text style
@mixin jumbo-text() {
	margin-left: -($text-padding);
	max-width: 22em;
	color: $core-accent;

	// mimic h2 styles
	font-family: $font-family-header;
	font-size: 2rem;
	font-weight: bold !important;
    text-rendering: optimizeLegibility;
    line-height: 150%;
    letter-spacing: -0px;
}

// Guide
h1 {
	@include jumbo-text();
}

.article-body, .content-body {
	max-width: $text-width;
}