$header-height: 50px;

body > .header {

    .header-inner {
        height: 100%;
    }
    .header-menu {
        position: relative;
        height: $header-height;
        width: 100%;
        max-width: $max-page-width;
        margin-left: auto;
        margin-right: auto;
    }
    .header-banner-inner {
        width: 100%;
        max-width: $max-page-width;
        padding-left: $text-padding;
        margin-left: auto;
        margin-right: auto;
    }

}
.header {
    &, a { color: $white; }
    background: $header-soft; 
}

$header-link-width: 120px;
.header-menu {

    background: $header-bg;
    border-bottom: 3px solid $header-bg;

    button {
        text-transform: uppercase;
        letter-spacing: 0.2px;
        min-width: $header-link-width;
        border-bottom: 3px solid black;
    }

    nav {
        display: inline-block;
        position: relative;
        z-index: 20;
        ul, li {
            margin: 0;
            padding: 0;
            display: inline-block;

            height: $header-height
        }
        li {
            min-width: $header-link-width;
            text-align: center;
            a {
                display: block;
                height: $header-height - (7*2);
                padding: 7px 0 4px 0;
                border-bottom: 3px solid black;
                line-height: $header-height - (7*2);
                box-sizing: content-box;

                width: 100%;
                text-align: center;

                background: $header-bg;

                &:hover, &:focus {
                    background: darken($header-bg, 10);
                    border-bottom-color: lighten($header-bg, 10);
                }
                &.active {
                    border-bottom-color: white;
                }
            }
        }
    }

    button {
        height: 50px;
        background: $header-bg;

        &:hover {
            background: darken($header-bg, 10);
            border-bottom-color: lighten($header-bg, 10);
        }
    }

    button.viewswitch {
        position: absolute;
        right: 0;
        z-index: 10;
       
    }
}

body {

    .header-banner-container {
        background: $white;
    }

    .header-banner {

        background: $white;
        color: #354052;

        .banner-title {
            font-family: $font-family-header;
            font-size: 1.5rem;
            font-weight: bold;
            .title-unesco {
                color: $core-accent;
                letter-spacing: 1.5px;
            }
        }
    }

    &.home .header-banner {
        // Homepage has a custom header
        padding-top: 2em;
        padding-bottom: 2em;

        &.background-image {

            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;

            @include breakpoint(no-mobile) {
                height: 75vh;
                min-height: 150px;

                .header-banner-inner {
                    margin-left: auto;
                    margin-right: auto;
                    max-width: 50%;
                }
            }

            display: flex;
            align-items: center;

            margin-left: auto;
            margin-right: auto;
            max-width: 100%;
            width: $max-page-width;
        }

        .banner-title {
            border-bottom: 3px solid #DAD7D6;
            font-size: 2.5rem;
        }
        .banner-sub {
            font-size: 1.2rem;
            letter-spacing: 1px;
        }
    }

}
