section.home-intro {
	h1 {
		@include jumbo-text();
		margin-top: 0;
		margin-bottom: 0;
	}

	margin-bottom: 0;
	padding-bottom: 0;
}
section.home-features {

	border-top: none;

	.home-features-inner {
		max-width: 60em;
   	 	margin-left: auto;
    	margin-right: auto;
    	margin-bottom: $text-padding*2;
	}

	.feature {
		background: $white;
		margin-bottom: $text-padding*2;
	}

	@include breakpoint(no-mobile) { 
		.feature-inner {
			display: flex;
			align-items: center;
		}
	}

	.feature-image{
		flex: none;
		width: 270px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
	.feature-text {
		flex: 1;
	}

	.feature:nth-child(odd){
		.feature-image {
			order: 2;
		}
		.feature-text {
			order: 1;
			margin-right: 10px;
		}
	}
	.feature:nth-child(even){
		.feature-image {
			order: 1;
		}
		.feature-text {
			order: 2;
			margin-left: 10px;
		}
	}

	.home-features-start-link {
		margin-top: -$text-padding*2;
	}
}
section.home-phases {
	.home-phases-inner {
		max-width: 60em;
   	 	margin-left: auto;
    	margin-right: auto;
	}
}
section.home-how {
	.home-how-inner {
		max-width: 60em;
   	 	margin-left: auto;
    	margin-right: auto;
	}
	@include breakpoint(no-mobile) {
		.home-how-content {
			display: flex;

			& > * {
				flex: 1;
			}

		}
	}
}
section.home-what {
	.home-what-inner {
		max-width: 60em;
   	 	margin-left: auto;
    	margin-right: auto;
	}
	h3 {
		@include jumbo-text();
		font-style: normal;
	}
}