.main-inner {

    max-width: $max-page-width;
    margin-left: auto;
    margin-right: auto;

    margin-top: 20px;

    & > section {
        border-top: 3px solid $grey;
        background: $white;
        padding: $section-padding-ver $section-padding-hor;
        margin: 0;
        margin-bottom: 10px;

        &:last-child {
            margin-bottom: $section-padding-ver;
        }
    }
}