/* Phase specifc styling */
body.phase {
	section.phase-intro {
		padding-top: 0;
		padding-left: 0;
		padding-right: 0;
		padding-bottom: 0;
		margin-bottom: 0;

		.phase-banner {
			//margin-left: -($section-padding-hor);
    		//margin-right: -($section-padding-hor);
		}
		.phase-nextprev-links {
			//margin-left: -($section-padding-hor);
    		//margin-right: -($section-padding-hor);
    		padding-left: 10px;
    		padding-right: 10px;
		}
	}
	.phase-intro {
		.jumbo-image {
			height: auto;
		    width: 100%;
		    max-height: 488px;
		    min-height: 162px;
		    text-align: center;

		    @include breakpoint(no-mobile) {
				height: 66vh;
			}

		    img {
		    	max-height: 100%;
		    	width: auto;
		    }
		}

	}
	.phase-banner {
    	background: #FED53E;
    	color: #413214;
    	padding: $text-padding 0;

    	h1 {
    		margin-left: 0;
    		max-width: initial;
    		color: #413214;
    	}

    	h1, h2 {
    		margin-bottom: 0;
    		margin-top: 0;
    		text-align: center;
    	}
    	h2 {
    		text-transform: uppercase;
    		font-size: 1rem;
    		font-weight: 300;
    		letter-spacing: 1.2px;
			border-bottom: none;

			p {
				max-width: initial;
			}
    	}
	}
	//--end  phase intro

	section.phase-main {
		padding-top: 0;
		padding-left: 0;
		padding-right: 0;

		article.phase-body {
			max-width: $text-width;
			margin-left: auto;
			margin-right: auto;
			margin-top: $section-padding-ver;
		}
	}
	article.phase-body {
		section.question {
			.question-title {
				text-align: center;
			}
			margin-bottom: $section-padding-ver * 2;
		}
	}

}

// Phase Menubar
//# Fixed by javascript
nav.phase-menubar {
	width: $main-width;
	max-width: 100%;
}
body.fixed-phase-menubar {
	nav.phase-menubar {
		position: fixed;
	    top: 0;

	    .phase-menubar-inner {
	    	margin-bottom: 0;
	    }
	}
} //= end fixed layout
//# Flex
nav.phase-menubar {
	.phase-menubar-inner {
		display: flex;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}			
	.phase-menubar-one,
	.phase-menubar-three {
		flex: initial;
  		width: 120px;
	}
	// TO_DO Arabic needs a swap.
	.phase-menubar-one {
		text-align: left;
	}
	.phase-menubar-three {
		text-align: right;
	}
	.phase-menubar-two {
		flex: 1;
		text-align: center;
		font-weight: 500;
		font-size: 1rem;
		line-height: 1;
	}
} //=end flex
//# Menu bar styling. Styled on the header
$menubar-height: 50px;
nav.phase-menubar {
	height: $menubar-height;

	.phase-menubar-inner {
		height: 100%;
	}
	.phasemenu-title {
		line-height: $menubar-height;
		font-size: 1.3rem;
		letter-spacing: 0.2px;

		// @include breakpoint(mobile-only) {
		// 	display: none;
		// }
	}
	

	color: $white;
	background: $header-soft;
	border-bottom: 3px solid $header-soft;

	button {
    	height: 100%;
    	width: 100%;
    	background: $header-soft;
        &:hover {
            background: darken($header-bg, 10);
            border-bottom-color: lighten($header-bg, 10);
        }
	}
}
//--end phase menu bar


// Phase Next Previous
.phase-nextprev-links {

	//max-width: $paragraph-width;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;

	min-height: 50px;
	margin-bottom: 10px;

	a {
		text-transform: uppercase;
		letter-spacing: 0.2px;
		font-weight: bold;

		min-height: 50px;
		line-height: 50px;

		.fa-stack {
			color: $white;

			.fa-inverse {
				color: darken($main-bg, 10);
			}
		}

		&:hover, &:focus {
			.fa-stack {
				color: darken($core-accent, 10);

				.fa-inverse {
					color: $white
				}
			}
		}
	}

	.nextlink {
		float: right;
	}
	.prevlink {
		float: left;
	}
}




// Phase Article
.phase {

	.article-image {
		line-height: 0;
		img {
			width: 100%;
		}
	}
	.article-banner {
		height: 100;
		background: $article-banner-bg;
		color: $white;

		padding: 15px 50px;

		.phase-title {
			text-align: center;
			font-size: 1.5rem;
		}

		h1 {
			font-size: 1.5rem;
			text-align: center;
			letter-spacing: 0.5px;
			margin: 0;
		}
	}
	.article-header + *{
		margin-top: 2rem;
	}

	.article-body {
		max-width: $paragraph-width;
		margin-left: auto;
		margin-right: auto;

		h2 {
			font-size: 1.8rem;
			text-align: center;
		}

		p {
			color: #354052;
			font-size: 1.2rem;
		}
	}

	.article-chart {
		text-align: center;
		line-height: 0;
	    margin-bottom: 1.7rem;

	    border-top: 1px solid darken($article-bg, 20);
	    border-bottom: 1px solid darken($article-bg, 20);

	    // phase chart img background color
	    background: white;

	    img {
		    width: $paragraph-width;
		    max-width: 100%;
	    }
	}

	

	section.question {
		border-bottom: 1px solid darken($article-bg, 20);;
		margin-bottom: 3rem;

		.section-body, .section-input {
			margin-bottom: 3rem;
		}

		// Learn More links
		&#section_learnmore {
			background: white;
			border-bottom: none;

			padding: 30px;

			ul {
				list-style: none;

				li {
					margin-bottom: 1.5rem;
					line-height: 1.5rem;
				}
				li:last-child {
					margin-bottom: 0;
				}
				a {
					font-weight: bold;

					&:before, &:after {
						font-family: FontAwesome;
						font-weight: normal;
						color: darken($main-bg,10);
					}
					&:before {
						content: "\f0ac";	// globe icon. fa-globe
						margin-left: -25px;
						margin-right: 10px;
					}
					&:after {
						margin-left: 5px;
					    font-size: 80%;
					    position: relative;
					    top: -5px;
					}
				}
				a:hover, a:focus {
					&:before, &:after {
						
					}
					&:after {
						content: "\f08e";  // external link. fa-external
						color: darken($core-accent, 15%);
					}
				}
			}
		}
	}
}




// Phase List on Guide Page.
// TO-DO Style.
.phase-list {
	ul {
		list-style: none;
		padding: 0;
	}
	h2 {
		text-align: left !important;
		margin-bottom: 0 !important;
	}
	p {
		margin: 0;
	}
}




// Popup phase menu
.phase-menu {
	padding: 10px;

	$phase-circle-width: 28px;

	$phase-menu-color: $core-text;

	a {
		color: $phase-menu-color;
		font-weight: bold;

		&:hover, &:focus {
			color: $core-accent;

			.number-circle {
	    		border-color: $core-accent;
			}
		}
	}

	& > ul {
	list-style: none;
	padding: 0;
	line-height: 2rem;

		& > li {
		    margin-top: $phase-circle-width / 2;
		    margin-bottom: $phase-circle-width / 2;
		}

		b {
			width: 20px;
    		display: inline-block;
		}

		ul.phase-menu-children {

			padding-left: 8px;
			padding-bottom: $phase-circle-width / 4;

			a {
				color: lighten($phase-menu-color, 20);

				&:hover, &:focus {
					color: $core-accent;

					.marker-circle {
						border-color: $core-accent;
					}
				}
			}

			li {
				overflow: hidden;
			    text-overflow: ellipsis;
			    width: 100%;
			    display: block;
			    white-space: nowrap;
			    color: $core-accent;
			    padding-right: 10px;

			    font-size: 0.9rem;
    			line-height: 0.9rem;

    			margin-top: -3px;

    			&:first-child {
    				margin-top: 10px;
    			}

    			&:after {
    				content: " ";
    				height: 20px;
   					width: 1px;
    				display: block;
    				background: $main-bg;
    				margin-left: 5px;
    				margin-top: -1px;
    			}
    			&:last-child:after {
    				height: 0;
    			}
			}
		}
	}

	.number-circle {
		display: inline-block;
	    width: $phase-circle-width;
	    height: $phase-circle-width;

	    position: relative;
	    top: 2px;

	    margin-right: 5px;

	    text-align: center;
	    border-radius: 100%;

	    border: 1px solid $main-bg;
	    background: #F5F5F5;

	    span {
	    	position: relative;
	    	top: -3px;
	    }
	}

	li.active {
		.number-circle {
			background: $header-bg;
	    	color: $white;
	    	border-color: $header-bg;
		}
	}

	.marker-circle {

		display: inline-block;
	    width: 12px;
	    height: 12px;

	    position: relative;
	    top: 1px;

	    margin-right: 5px;

	    text-align: center;
	    border-radius: 100%;

	    border: 1px solid $main-bg;
	    background: transparent;

	    span {
	    	position: relative;
	    	top: -3px;
	    }
	}

}
ul.languages {
	padding: 10px 0 10px 17px;
    font-size: 0.9rem;
}