#torso {

}

$aside-bg: $white;

$article-bg: $white;
$article-banner-bg: $header-bg;

aside {

	position: fixed;
    z-index: 1000;
    //top: 50px; // height of header
    padding-bottom: 50px;
    bottom: 0;
    
    height: 100%;
    overflow: hidden;

    width: 0;

    &#planner {
    	right: 0;
    }
    &#side-menu {
    	left: 0;
    }

    form,
    nav {
      opacity: 0;
    }

	background: $aside-bg;

	.aside-inner {
		padding: 20px 40px 40px;
	}

	.planner-buttons {
		margin-bottom: 20px;
	}
}

footer {

	margin-top: 4rem;

	// $footer-bg: $header-bg;

	// min-height: 220px;
	// background: $footer-bg;
}


// view switch
body {

  main,aside {
    -webkit-transition: width 0.75s ease-in-out;
    -moz-transition: width 0.75s ease-in-out;
    -o-transition: width 0.75s ease-in-out;
    transition: width 0.75s ease-in-out;
  }
  aside form,
  aside nav {
    -webkit-transition: opacity 1.2s linear;
    -moz-transition: opacity 1.2s linear;
    -o-transition: opacity 1.2s linear;
    transition: opacity 1.2s linear;
  }

  &.guideplanner, &.planneronly, &.side-menu {
     
     overflow-y: hidden;

     main {
        opacity: 0.5;
     }  
  }

  &.guideplanner {

     aside#planner {
      width: $content-width;
      max-width: 80%;

      overflow: auto;

      form {
        opacity: 1;
      }
     }
  }

  &.planneronly {
    aside#planner {
      width: 100%;
      max-width: 100%;

      form {
        opacity: 1;
      }
    }
  }

  &.guideplanner, &.planneronly {
  	#header button.viewswitch.planner-switch {
  		background: $white;
  		color: $core-accent;
  	}
  }

  &.side-menu {
  	 aside#side-menu {
  	 	width: $content-width;
      	max-width: 80%;

      	overflow: auto;

	    nav {
	      opacity: 1;
	    }
  	 }
  }

  &.side-menu, &.side-menu-only {
  	#header button.viewswitch.side-menu-switch {
  		background: $white;
  		color: $core-accent;
  	}
  }

}

.CodeMirror {
	max-height: 300px;
}