
// latin character set
body {
	font-family: $font-family-default;
	letter-spacing: -0.03rem;
	font-weight: 400;
}

p {
	max-width: $text-width;
}

// Headings
h1, h2, h3, h4, h5, h6 {
	font-family: $font-family-header;
	font-weight: 500;
	text-rendering: optimizeLegibility;
	line-height: 150%;
	letter-spacing: -0px;
}

// CHINESE
html:lang(zh){
	// see: https://medium.com/@bobtung/best-practice-in-chinese-layout-f933aff1728f for best tips
	body {
		font-family: $font-family-chinese-default;
	}
	p {
		line-height: 1.7em;
		margin-bottom: 0.5em;
		text-align: justify;
		text-justify: inter-ideographic;
		word-break: break-all;
	}
	em {
		font-style: bold !important; // there are no italics in chinese
	}
	h1, h2, h3, h4, h5, h6 {
		font-family: $font-family-chinese-header;
	}

}

h1 {
	max-width: initial;
	font-weight: 500;
	font-size: 2rem;
}

h2 {
	font-size: 1.8rem;
	letter-spacing: 0;
	border-bottom: 3px solid $grey;
}

h3 {
	font-size: 1.6rem;
}

// Blockquote
blockquote {
	border-left: 10px solid $rule-color;
	p {
		font-size: 1.1rem;
		color: #999;
	}
	cite {
		display: block;
		text-align: right;
		color: #666;
		font-size: 1.2rem;
	}
}

// NOTES!!!!
blockquote {
    position: relative;
}

blockquote blockquote {
    position: static;
}

blockquote > blockquote > blockquote {

	margin: 0;

	p {
		padding: 15px;
		display: block;
		font-size: 1rem;
		margin-top: 0rem;
		margin-bottom: 0rem;
        color: #666;

        &:first-child {
            &:before {
                position: absolute;
                top: 2px;
                color: $white;
                font-family: FontAwesome;
                content: '';
                left: 10px;
            }
            &:after {
                position: absolute;
                top: 2px;
                color: $white;
                left: 2rem;
                font-weight: bold;
                content: 'Info';
            }
        }
	}

	> p {
		// Yellow
		margin-left: -71px;
		border-top: 30px solid #F0B37E;
		background: #FFF2DB;
	}

	> blockquote > p {
		// Red
		margin-left: -94px;
		border-top: 30px solid rgba(#D9534F, 0.8);
		background: #FAE2E2;
        &:first-child:after {
            content: 'Warning';
        }
	}

	> blockquote > blockquote > p {
		// Blue
		margin-left: -118px;
		border-top: 30px solid #6AB0DE;
		background: #E7F2FA;
        &:first-child:after {
            content: 'Note';
        }
	}

	> blockquote > blockquote > blockquote > p {
		// Green
		margin-left: -142px;
		border-top: 30px solid rgba(#5CB85C, 0.8);
		background: #E6F9E6;
        &:first-child:after {
            content: 'Tip';
        }
	}

}

// Inline and Code
code,
kbd,
pre,
samp {
	font-family: $font-family-mono;
}

code {
	background: $code-bg;
	color: darken($code-text,10%);
	padding: .2rem .4rem;
  border-radius: 3px;
}

pre {
	padding: 1rem;
	margin: 2rem 0;
	background: $pre-bg;
	border: 1px solid $core-border-color;
	border-radius: 2px;
	line-height: 1.15;
	font-size: 1rem;

	code {
		color: $pre-text;
		background: inherit;
		font-size: 1rem;
	}
}

// Extras
hr {
	border-bottom: 4px solid $rule-color;
}

// Page Title
.page-title {
	margin-top: -25px;
	padding: 25px;
	float: left;
	clear: both;
	background: $core-accent;
	color: $white;
}

// Anchor links
#body {
    a.anchor-link { color: #ccc; }
    a.anchor-link:hover { color: $core-accent; }
}

// Scrollbar
.scrollbar-inner > .scroll-element .scroll-element_track { background-color: rgba($white, 0.3); }
.scrollbar-inner > .scroll-element .scroll-bar { background-color: lighten(#A1C4E5, 5%); }
.scrollbar-inner > .scroll-element:hover .scroll-bar { background-color: #ccc; }
.scrollbar-inner > .scroll-element.scroll-draggable .scroll-bar { background-color: #ccc; }
