{% macro render_field(form, fields) %}
    {% for index, field in fields %}
        {% set input = attribute(field, "input@") %}
        {% if input is null or input == true %}
            {% if form.value(field.name) %}
                {% block field %}
                    {% if field.name == 'name' %}
                        <div>
                            <div class="{{field.name}} field-value">
                                <h1>{{ string(form.value(field.name))|nl2br }}</h1>
                            </div>
                        </div>
                        <div>
                            <div class="field-project-intro">
                                <h2>{{ 'THEME_LEARN2_PROJECT_PLAN_TITLE'|t }}</h2>
                            </div>
                        </div>
                    {% else %}
                        <div>
                            {% block field_label %}
                                <div class="{{field.name}} field-label"><h3>{{ field.title }}</h3></div>
                            {% endblock %}

                            {% block field_value %}
                                <div class="{{field.name}} field-value">
                                {% if field.type == 'checkboxes' %}
                                    <ul>
                                        {% for value in form.value(field.name) %}
                                            <li>{{ field.options[value]|e }}</li>
                                        {% endfor %}
                                    </ul>
                                {% elseif field.type == 'checkbox' %}
                                    {{ (form.value(field.name) == 1) ? "PLUGIN_FORM.YES"|t|e : "PLUGIN_FORM.NO"|t|e }}
                                {% elseif field.type == 'select' %}
                                    {{ field.options[form.value(field.name)]|e }}
                                {% else %}
                                    {{ string(form.value(field.name))|nl2br }}
                                {% endif %}
                                </div>
                            {% endblock %}
                        </div>
                    {% endif %}
                {% endblock %}
            {% endif %}
        {% else %}
            {% if field.fields %}
                {{ _self.render_field(form, field.fields) }}
            {% endif %}
        {% endif %}
    {% endfor %}
{% endmacro %}

{{ _self.render_field(form, form.fields) }}

