{% set section = page %}
<section id="section{{ section.slug }}" class="question">
	{% if section.header.hasinlinefield != 'false' %}
	<div class="question-image"><img src="https://dummyimage.com/670x260/b8daf4/fff"></div>
	{% endif  %}
	<div class="question-title"><h3 id="{{ section.slug }}">{{ section.title }}</h3></div>
	<div class="section-body">{{ section.content }}</div>
	{% if section.header.hasinlinefield != 'false' %}
		<div class="section-input">
			<div class="inline-field">
				<data class="js-inlinefield" value="form{{section.slug|e}}"></data>
			</div>
		</div>
	{% endif  %}
</section>
