<section class="home-features">
    <div class="home-features-inner">
        <div class="feature-list">
        {% for feature in page.header.features %}
               <div class="feature">
                    <div class="feature-inner">
                    {% if feature.text %}
                        <div class="feature-text">
                            <h3>{{ feature.title }}</h3>
                            <p>{{ feature.text }}</p>
                        </div>
                    {% endif %}

                    {% if feature.image %}
                        <div class="feature-image">
                            <div class="feature-image-inner">
                                {{ page.find('/images').media[feature.image].html() }} 
                            </div>
                        </div>
                    {% endif %}
                    </div>
                </div>
        {% endfor %}
        </div>
        <div class="home-features-start-link">
            <a href="{{ page.find('/guide').url }}" class="button">Start your project</a>
        </div>
    </div>
</section>